/* Le code CSS de la démo */

.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 5px solid #DD5735;
    position: relative;

    border-radius: 50%;
    z-index: 0;

}


article{
    margin-top: 2.5em;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    border-radius: 50%;
    padding: 1.5em;
    margin: 0;
    z-index: 1;
    height: 277.59px;
    width: 277.59px;
}

.animation:hover img{
    animation-name: scale-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

p{
    text-align: center;
    color: #DD5735;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2em;
    left: 40%;
    z-index: -1;
}

main{
    margin: auto 0;
}

@keyframes scale-anim{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);

    }
}