/* Le code CSS de la démo */

.header{
    background: #ebe3db;
    display: flex;
    flex-direction: column;


}

.logo img{
    width: 15rem;
    height: 15rem;
    margin: 2rem;
}

menu{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}
menu li{
    list-style: none;
    border-top: 1px solid #000;
}

nav menu li:nth-child(4){
    border-bottom: 1px solid #000;
}

menu li{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s, background-color 1s;

}

menu li{
    color: #fff;
    background: #ebe3db;
}

menu li a{
    font-family: 'Athiti', sans-serif;	
    text-decoration: none;
    color: #000;
}
 a:link{
    text-decoration: none;
 }


menu li:hover{
    color: #fff;
    background: #950000;
}

menu li:{
    color: #fff;
    background: #950000;
}

img{
    object-fit: cover;
    width: 100%;
    height: auto;
}


h1, h2, h3, h4, h5{
    text-align: center;
}

i{
    padding: 1rem;
}


.flex-article1{
    display: flex;
    flex-direction: column;

}

section{
background: #ebe3db;
padding: 1rem 0;
display: flex;
flex-direction: column;
}

section ul li{
    list-style: none;
    border-bottom: 1px dashed #000;
}


.footer-2 h5{
    border-bottom: 1px dashed #fff;
    padding-bottom: 1rem;
}

.reseau p{
    padding-bottom: 2rem;
    margin-bottom: 0;
}


/***************************************************************
Media queries
****************************************************************/

@media screen and (min-width: 780px){
    
}

@media screen and (min-width: 1200px){
    body{

        width: 100vw;
    }    

}

@media screen and (min-width: 1200px){
    

}